*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}
.full-screen-container {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    margin: 0;
}

